---

const {
  title = "Huǒ Lóng Yang Tai Chi Chuan Uruguay",
  description = "Fortalece tu cuerpo, armoniza tu energía, calma tu mente. Te invito a disfutar de clases de Tai Chi. Animate a probar esta hermosa disciplina.",
  image = {
    url: "/uploads/taichiprofile.webp",
    alt: "Huǒ Lóng Yang Tai Chi Chuan Uruguay",
  },
  type = "website",
  canonicalUrl,
} = Astro.props;

// Get the canonical URL
const canonicalURL = canonicalUrl || new URL(Astro.url.pathname, Astro.site);

const schoolInfo = {
  name: "Huǒ Lóng Yang Tai Chi Chuan Uruguay",
  telephone: "+59899881278",
  url: Astro.site?.toString() || "https://example.com",
};
---

<!-- Basic SEO -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.url, Astro.site)} />
<meta property="og:image:alt" content={image.alt} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.url, Astro.site)} />
<meta property="twitter:image:alt" content={image.alt} />

<!-- JSON-LD Schema for Church -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Taichi School",
    "name": "${schoolInfo.name}",
    "telephone": "${schoolInfo.telephone}",
    "url": "${schoolInfo.url}"
  }
</script>
